/*** scrollbar *****/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(31, 34, 39);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(65, 71, 82);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c;
}